html {
    font-size: 1vw;
}
body {
    margin: 0;
    background: #3b3b3b;
}
.video-container {
    width: 100%;
    height: 100%;
}
.video-frame {
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}
.video-frame > * {
    position: absolute;
}
.poster {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.poster > img {
    height: 50%;
}
#gate-video {
    height: 220%;
    left: -26vh;
    top: -8%;
}
.bot-state {
    height: 1rem;
    left: 0.8rem;
    bottom: 0.8rem;
    right: 0.8rem;
    border-radius: 0.3rem;
    background: #00e000;
}
.bot-state.inactive {
    background: #ffd000;
}
.bot-state.unavailable {
    background: #f00000;
}

@media (orientation: portrait) {
    html {
        font-size: 1vh;
    }
    #gate-video {
        height: 100%;
        left: -26vh;
        top: 0;
    }
    .poster > img {
        width: 50%;
        height: auto;
    }
}